@import 'src/styles/vars';

.user{
  width: 20%;
  height: 20rem;
  border-radius: $press-on-border-radius;
  background: $press-on-border-background;
  box-shadow: $press-on-border-box-shadow;
  padding: 2em;
  margin: 1em;

  &-name{
    color: $dark-color;
    font-family: $main-font;
    font-size: x-large;
  }
}
