@import 'src/styles/vars';

.app{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.dashboard-title{
  font-family: $main-fonts;
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
  color: $press-off-background;
  text-shadow: 5px 5px 26px #656b74,
  -5px -5px 26px #bfcbdc;
  width: 100%;
}
