@import 'src/styles/vars';

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;
  height: 100vh;
  width: 100vw
}
.part-one{
  display: flex;
  justify-content: space-between;
}

.dashboard-title{
  font-family: $main-font;
  font-size: 5rem;
  font-weight: 700;
  // color: $press-off-background;
  // text-shadow: 5px 5px 26px #656b74,
  // -5px -5px 26px #bfcbdc;

  color: $dark-color;
  // text-shadow:  11px 11px 22px #666d76,
  //            -11px -11px 22px #becada;

  width: 100%;
  text-align: center;
  align-self: flex-start;
  margin-top: 0.3em;
}

.dashboard{
  display: flex;
  flex-direction: column;
  align-items: center;
}
