@import 'src/styles/vars';

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: fit-content;
  width: fit-content
}
.part-one{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.part-two{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dashboard-title{
  font-family: $main-font;
  font-size: 4rem;
  font-weight: 700;
  color: $dark-color;
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.css-18hu5k{
  margin: 5em;
}
