@import 'src/styles/vars';

.beer{
  width: 30%;
  height: 20rem;
  border-radius: 15px;
  margin-bottom: 1em;
  margin-right: 1em;
  padding: 1em;
  padding-top: 1.2em;
  box-shadow: 7px 7px 21px #808894,
  -7px -7px 21px #a4aebc;

  &:hover{
    box-shadow: inset 7px 7px 21px #808894,
    inset -7px -7px 21px #a4aebc;;
  }

  &-title{
    color: $dark-color;
    font-family: $main-font;
    font-size: xx-large;
    text-align: center;
    text-shadow: 1px 1px 5px white;
  }

  &-result{
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-partOne{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      margin: 1em;

      &-name{
        font-family: $main-font;
        font-size: x-large;
        margin-bottom: 0.5em;
      }
      &-tagline{

      }
      &-description{
        color: $dark-color;
      }
    }

    &-image{
      padding: 0.5em; 
      border-radius: 0.5em;
      box-shadow: inset 5px 5px 10px #7c848f,
      inset -5px -5px 10px #a8b2c1;
      &-img{
      height: 13em;

      margin: 0.5em;
      }
    }
  }
}
