@import 'src/styles/vars';

.cocktail{
  width: 30%;
  height: 20rem;
  border-radius: $press-on-border-radius;
  box-shadow: $press-on-border-box-shadow;
  padding: 1em;
  margin-bottom: 1em;

  &-title{
    color: $dark-color;
    font-family: $main-font;
    font-size: xx-large;
    text-align: center;
  }

  &-result{
    display: flex;
    justify-content: center;
    align-items: center;

    &-partOne{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 40%;
      margin: 1em;

      &-name{
        font-family: $main-font;
        font-size: x-large;
        margin-bottom: 0.5em;
      }

      &-instructions{
        color: $dark-color;
      }
    }

    &-image{
      width: 40%;
      border-radius: 0.5em;
      margin: 1em;
    }
  }



}
