@import 'src/styles/vars';

.meteo{
  width: 80%;
  border-radius: $press-off-border-radius;
  box-shadow: $press-off-box-shadow;
  margin: 1em;
  padding: 2em;
  height: 100%;
 
  
  &-title{
    color: $dark-color;
    font-family: $main-font;
    font-size: xx-large;
    text-align: center;
  }

  &-currentDay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    // width: 15%;
    border-radius: 1em;
    box-shadow: $press-on-border-box-shadow;
    padding: 1em;
    width: 30%;

    &-precip{
      color: $dark-color;
    }
    &-humidity{
      color: $dark-color;
    }
    &-wind{
      color: $dark-color;
    }
    // margin: 2em;
  }

  &-nextdays{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    width: 75%;
  }

  &-nextday{
    display: flex;
    justify-content: center;
    width: 15%;
    border-radius: 1em;
    box-shadow: $press-on-border-box-shadow;
    padding: 1em;
    margin: 2em;

    &-maxTemp{
      color: $dark-color;
    }
    &-minTemp{
      color: $dark-color;
    }
  }
}

.meteoResult{
  display: flex;
  justify-content: space-between;
}

