@import 'src/styles/vars';

.meteo{
  width: 80%;
  border-radius: $press-on-border-radius;
  box-shadow: $press-off-box-shadow;
  margin: 3em;
  padding: 1em 5em;
  min-height: 20em;
 
  &-Result-firstRow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
  }

  &-region{
    margin-bottom: 0.5em;
    font-size: 1.3em;
    align-self: flex-start;
  }

  &-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    &-input{
      border: none;
      border-radius: 5px;
      background: #929BA8;
      box-shadow: inset 5px 5px 10px #7c848f,
            inset -5px -5px 10px #a8b2c1;
      width: 31em;
      height: 2em;
      text-align: center;
      color: $dark-color;
      margin: 0.5em;
      font-family: $main-font;
      font-size: large;
      padding: 1em;
      &::placeholder{
        color: $dark-color;
        opacity: 0.5;
      }
    }
    &-button{
      border: none;
      border-radius: 5px;
      background: #929BA8;
      box-shadow:  5px 5px 10px #7c848f,
             -5px -5px 10px #a8b2c1;
      color: $dark-color;
      height: 3em;
      width: 3em;

      &:active{
        border-radius: 5px;
        background: #929BA8;
        box-shadow: inset 5px 5px 10px #7c848f,
            inset -5px -5px 10px #a8b2c1;
      }
    }
  }

  &-currentDay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1em;
    box-shadow: 7px 7px 21px #808894,
    -7px -7px 21px #a4aebc;
    padding: 2em;
    height: 80%;
    width: 130%;

    &:hover{
      border-radius: 1em;
      box-shadow: inset 7px 7px 21px #808894,
                  inset -7px -7px 21px #a4aebc;;
    }
    
    &-dayhour{ 
      justify-items: flex-start;

    }
    &-tempAndicon{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-precAndhumAndwind{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-precip{
      color: $dark-color;
    }
    &-humidity{
      color: $dark-color;
    }
    &-wind{
      color: $dark-color;
    }
    &-temp{
      font-size: x-large;
    }
    &-icon img{
      width: 5em;
    }
  }

  &-nextdays{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    width: 75%;
    margin-left: 2em;
  }

  &-nextday{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    border-radius: 1em;
    box-shadow: 7px 7px 21px #808894,
    -7px -7px 21px #a4aebc;
    padding: 1em;
    margin: 0.3em;

    &:hover{
      box-shadow: inset 7px 7px 21px #808894,
      inset -7px -7px 21px #a4aebc;;
    }

    &-day{
      text-align: center;
    }

    &-temp{
      color: $dark-color;
      display: flex;
      justify-content: center;
      align-items: center;
      &-minmax{
        display: flex;
        flex-direction: column;
      }
    }

    &-icon img{
      width: 4em;
    }

  }
}

.meteoResult{
  display: flex;
  justify-content: center;
}

