@import 'src/styles/vars';

.image{
  width: 30%;
  height: 20em;
  border-radius: $press-on-border-radius;
  box-shadow: $press-on-border-box-shadow;
  margin-left: 1em;
  margin-bottom: 1em;
  padding: 1em;

  &-title{
    color: $dark-color;
    font-family: $main-font;
    font-size: xx-large;
    text-align: center;
  }

  &-result{
    display: flex;
    justify-content: center;
    align-items: center;

    &-title{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      margin: 1em;

      &-nasaTitle{
        font-family: $main-font;
        font-size: x-large;
        margin-bottom: 0.5em;
      }
      &-date{
        color: $dark-color;
      }
    }
    &-img{
      width: 50%;
      border-radius: 0.5em;
      margin: 1em;
    }
  }

}
