@import 'src/styles/vars';

.image{
  width: 30%;
  height: 20em;
  border-radius: 15px;
  margin-left: 1em;
  margin-bottom: 1em;
  padding: 1em;
  padding-top: 1.2em;
  box-shadow: 7px 7px 21px #808894,
  -7px -7px 21px #a4aebc;

  &:hover{
    box-shadow: inset 7px 7px 21px #808894,
    inset -7px -7px 21px #a4aebc;;
  }

  &-title{
    color: $dark-color;
    font-family: $main-font;
    font-size: xx-large;
    text-align: center;
    text-shadow: 1px 1px 5px white;
    margin-bottom: 0.3em;
  }

  &-result{
    display: flex;
    justify-content: center;
    align-items: center;

    &-title{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      margin: 1em;

      &-nasaTitle{
        font-family: $main-font;
        font-size: x-large;
        margin-bottom: 0.5em;
      }
      &-date{
        color: $dark-color;
      }
    }
    &-image{
      padding: 0.5em; 
      border-radius: 0.5em;
      box-shadow: inset 5px 5px 10px #7c848f,
      inset -5px -5px 10px #a8b2c1;
      &-img{
      height: 11em;
      border-radius: 0.3em;
      margin: 0.7em;
      }
    }
  }

}
